.SplitPane{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.SplitPane-left{
    flex: 1;
    height: 100%;
    overflow: auto;
    background-color: var(--pink);
}
.SplitPane-right{
    flex: 2;
    height: 100%;
    overflow: auto;
    background-color: var(--gray);
   
}
